<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-lnIQlhrsHjMKqNPBrizBnLgmDF4fTNs</string>
	<key>GCM_SENDER_ID</key>
	<string>52121275407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>myflutterapp-eba56</string>
	<key>STORAGE_BUCKET</key>
	<string>myflutterapp-eba56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52121275407:ios:62596954fc787dedfce77a</string>
</dict>
</plist>